In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rio Gallegos,AR,2021-06-19 17:42:38,-51.6226,-69.2181,39.25,52,0,8.05
1,1,Malayal,PH,2021-06-19 17:42:39,7.2080,121.9420,78.91,78,100,2.15
2,2,Bredasdorp,ZA,2021-06-19 17:42:39,-34.5322,20.0403,52.92,87,20,5.75
3,3,Ust-Kuyga,RU,2021-06-19 17:42:39,70.0167,135.6000,72.01,41,99,3.00
4,4,Hilo,US,2021-06-19 17:38:01,19.7297,-155.0900,78.28,75,1,5.75
5,5,Tonantins,BR,2021-06-19 17:42:40,-2.8731,-67.8022,84.97,69,49,4.29
6,6,Ouallam,NE,2021-06-19 17:42:40,14.3188,2.0866,101.64,22,94,2.35
7,7,Adelaide,AU,2021-06-19 17:42:41,-34.9333,138.6000,52.57,91,75,4.61
8,8,Ushuaia,AR,2021-06-19 17:38:32,-54.8000,-68.3000,42.46,81,75,13.80
9,9,Kloulklubed,PW,2021-06-19 17:42:41,7.0419,134.2556,79.30,72,51,5.55

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     571 non-null    int64
 1   City        571 non-null    object
 2   Country     568 non-null    object
 3   Date        571 non-null    object
 4   Lat         571 non-null    float64
 5   Lng         571 non-null    float64
 6   Max Temp    571 non-null    float64
 7   Humidity    571 non-null    int64
 8   Cloudiness  571 non-null    int64
 9   Wind Speed  571 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.7+ KB

In [4]:
# Configure gmaos to use your google API Key
gmaps.configure(api_key=g_key)

In [ ]:
## Heat Map for Max Temps

In [14]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=5)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
## Heat Map for percent humidity

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
humidity = city_data_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(humid, 0) for humid in humidity], dissipating=False,
                                max_intensity=300, point_radius=5)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
## Heat Map for percent cloudiness

In [18]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
cloudiness = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(cloud, 0) for cloud in cloudiness], dissipating=False,
                                max_intensity=300, point_radius=5)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
## Heap map for windspeed

In [20]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
wind_speed = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(wind, 0) for wind in wind_speed], dissipating=False,
                                max_intensity=300, point_radius=5)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Ask the customer to add a minimun and maximun temperature value
min_temp = float(input("What is the minimun temperature you would like for your trip? "))
max_temp = float(input("What is the maximun temperature you would like for your trip? "))

What is the minimun temperature you would like for your trip?

ValueError: could not convert string to float:

In [42]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Malayal,PH,2021-06-19 17:42:39,7.2080,121.9420,78.91,78,100,2.15
4,4,Hilo,US,2021-06-19 17:38:01,19.7297,-155.0900,78.28,75,1,5.75
5,5,Tonantins,BR,2021-06-19 17:42:40,-2.8731,-67.8022,84.97,69,49,4.29
9,9,Kloulklubed,PW,2021-06-19 17:42:41,7.0419,134.2556,79.30,72,51,5.55
12,12,Palmer,US,2021-06-19 17:42:42,42.1584,-72.3287,88.52,51,40,1.01
18,18,Bengkulu,ID,2021-06-19 17:42:44,-3.8004,102.2655,76.64,86,97,4.03
24,24,Rikitea,PF,2021-06-19 17:42:46,-23.1203,-134.9692,75.18,73,91,16.96
25,25,Awjilah,LY,2021-06-19 17:42:46,29.1081,21.2869,83.25,33,0,20.24
27,27,Tefe,BR,2021-06-19 17:42:47,-3.3542,-64.7114,86.11,79,40,8.05
34,34,Kavieng,PG,2021-06-19 17:42:49,-2.5744,150.7967,78.91,79,13,4.56

In [43]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [44]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] =""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Malayal      PH     78.91   7.2080  121.9420
4          Hilo      US     78.28  19.7297 -155.0900
5     Tonantins      BR     84.97  -2.8731  -67.8022
9   Kloulklubed      PW     79.30   7.0419  134.2556
12       Palmer      US     88.52  42.1584  -72.3287
18     Bengkulu      ID     76.64  -3.8004  102.2655
24      Rikitea      PF     75.18 -23.1203 -134.9692
25      Awjilah      LY     83.25  29.1081   21.2869
27         Tefe      BR     86.11  -3.3542  -64.7114
34      Kavieng      PG     78.91  -2.5744  150.7967

In [45]:
# Set parameters to search for a hotel
params = {"radius":5000, "type":"lodging", "key": g_key}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [49]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng               Hotel Name
1       Malayal      PH     78.91   7.2080  121.9420
4          Hilo      US     78.28  19.7297 -155.0900      Hilo Hawaiian Hotel
5     Tonantins      BR     84.97  -2.8731  -67.8022           Hotel Rei Davi
9   Kloulklubed      PW     79.30   7.0419  134.2556  Storyboard Beach Resort
12       Palmer      US     88.52  42.1584  -72.3287          Wedgewood Motel
18     Bengkulu      ID     76.64  -3.8004  102.2655     Grage Hotel Bengkulu
24      Rikitea      PF     75.18 -23.1203 -134.9692          People ThankYou
25      Awjilah      LY     83.25  29.1081   21.2869
27         Tefe      BR     86.11  -3.3542  -64.7114            Aracati Hotel
34      Kavieng      PG     78.91  -2.5744  150.7967      Nusa Island Retreat

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))