## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Punta Arenas,CL,2021-06-20 20:56:41,-53.1500,-70.9167,41.11,75,0,13.80,clear sky
1,1,Geraldton,AU,2021-06-20 21:00:59,-28.7667,114.6000,54.01,71,75,17.27,broken clouds
2,2,Dikson,RU,2021-06-20 21:00:59,73.5069,80.5464,31.69,86,1,4.85,clear sky
3,3,La Reforma,MX,2021-06-20 21:01:00,25.0833,-108.0500,91.15,62,88,16.08,overcast clouds
4,4,Marsa Matruh,EG,2021-06-20 21:01:00,31.3525,27.2453,73.47,80,0,7.23,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
4,4,Marsa Matruh,EG,2021-06-20 21:01:00,31.3525,27.2453,73.47,80,0,7.23,clear sky
5,5,Amahai,ID,2021-06-20 21:01:00,-3.3333,128.9167,75.76,87,91,3.18,overcast clouds
6,6,Norman Wells,CA,2021-06-20 21:01:01,65.2820,-126.8329,75.06,33,100,9.46,overcast clouds
16,16,Svetlyy,RU,2021-06-20 21:01:04,54.6750,20.1347,73.45,87,1,7.43,clear sky
17,17,Albany,US,2021-06-20 20:58:39,42.6001,-73.9662,85.91,57,16,6.51,few clouds
19,19,Berdigestyakh,RU,2021-06-20 21:01:05,62.0989,126.6992,71.83,55,17,2.82,few clouds
20,20,Vaini,TO,2021-06-20 21:01:06,-21.2000,-175.2000,75.09,74,43,5.41,scattered clouds
22,22,Arraial Do Cabo,BR,2021-06-20 21:01:06,-22.9661,-42.0278,72.63,78,79,13.11,broken clouds
24,24,Manokwari,ID,2021-06-20 21:00:05,-0.8667,134.0833,77.45,75,100,2.64,overcast clouds
26,26,Hithadhoo,MV,2021-06-20 21:01:08,-0.6000,73.0833,83.17,73,100,11.41,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 4 to 722
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              315 non-null    int64
 1   City                 315 non-null    object
 2   Country              315 non-null    object
 3   Date                 315 non-null    object
 4   Lat                  315 non-null    float64
 5   Lng                  315 non-null    float64
 6   Max Temp             315 non-null    float64
 7   Humidity             315 non-null    int64
 8   Cloudiness           315 non-null    int64
 9   Wind Speed           315 non-null    float64
 10  Weather Description  315 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 29.5+ KB

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df= preferred_cities_df.dropna()
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 4 to 722
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              315 non-null    int64
 1   City                 315 non-null    object
 2   Country              315 non-null    object
 3   Date                 315 non-null    object
 4   Lat                  315 non-null    float64
 5   Lng                  315 non-null    float64
 6   Max Temp             315 non-null    float64
 7   Humidity             315 non-null    int64
 8   Cloudiness           315 non-null    int64
 9   Wind Speed           315 non-null    float64
 10  Weather Description  315 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 29.5+ KB

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Marsa Matruh,EG,73.47,clear sky,31.3525,27.2453,
5,Amahai,ID,75.76,overcast clouds,-3.3333,128.9167,
6,Norman Wells,CA,75.06,overcast clouds,65.2820,-126.8329,
16,Svetlyy,RU,73.45,clear sky,54.6750,20.1347,
17,Albany,US,85.91,few clouds,42.6001,-73.9662,
19,Berdigestyakh,RU,71.83,few clouds,62.0989,126.6992,
20,Vaini,TO,75.09,scattered clouds,-21.2000,-175.2000,
22,Arraial Do Cabo,BR,72.63,broken clouds,-22.9661,-42.0278,
24,Manokwari,ID,77.45,overcast clouds,-0.8667,134.0833,
26,Hithadhoo,MV,83.17,overcast clouds,-0.6000,73.0833,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))